<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.thinkpad.cattleim">

    <!-- 基础模块（必须加入以下声明）START -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECORD_VIDEO" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <!--开机自启-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:roundIcon">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.AccountActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AccountActivity"/>

        <!--声明图片剪切的activity-->
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.MainActivity"
            android:theme="@style/AppTheme.MainActivity">

        </activity>

        <!--建立步骤的服务-->
        <service android:name=".services.StepService" />

        <!--建了立一个广播接收者-->
        <receiver
            android:name=".EventReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="1000">
            <intent-filter>
                <action android:name="com.example.netKit.net.push.PushService"/>
            </intent-filter>
        </receiver>


        <activity
            android:name=".activities.creators.TaskCreatorActivity"
            android:theme="@style/AppTheme.AddCreator" />
        <activity
            android:name=".activities.creators.TimeCreatorActivity"
            android:theme="@style/AppTheme.AddCreator" />
        <activity android:name=".activities.SearchActivity"
            android:theme="@style/AppTheme.SearchCreator"/>


        <!--contact 创建的页面-->
        <activity android:name=".activities.contact.CreateTagActivity" />
        <activity android:name=".activities.contact.CreateGroupActivity"/>
        <activity android:name=".activities.contact.CreateInfoActivity"/>


        <!--好友的个人页面展示-->

        <activity android:name=".activities.PersonActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />

        <activity android:name=".activities.ConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Conversation"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name=".activities.AccountInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.AccountInfoActivity"/>

        <activity android:name=".activities.ProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.TransStatusBar" />


    </application>




</manifest>