<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.netKit">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application>

        <receiver
            android:name=".net.push.BootPushReceiver">
            <intent-filter>
                <!--开机启动-->
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!--建立推送的服务-->
        <service android:name=".net.push.PushService" >
            <intent-filter>
                <action android:name="com.example.netKit.net.push.BootPushReceiver"/>
            </intent-filter>
        </service>

    </application>

</manifest>
