<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>tables</title>
    <style>

        input {
            height: 20px;
            line-height: 20px;
            width: 60px;
            padding: 5px;
            border: none;
        }

        table, table tr th, table tr td {
            border: 1px solid #cfcfcf;
        }

        table {
            min-height: 25px;
            line-height: 25px;
            text-align: center;
            border-collapse: collapse;
            padding: 0;
        }


    </style>
</head>
<body>
<table>
    <script>
         input.setAttribute("width", "100px");
    </script>
    <caption>tables</caption>
    <thead>页眉</thead>
    <tbody>
    <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
    </tr>
    <tr>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
        <td><input></td>
    </tr>

    </tbody>
</table>
</body>

<script>
    input.setAttribute("width", "100px");

</script>
</html>